<section class="property-binding">
  <article>
    <h3>Interpolation/Interpolação</h3>
    <p> String renderizada com interpolação: {{ url }}</p>
    <p> Resultado de 1 + 1 = {{ 1+1 }}</p>
    <p> Resultado de 1 + 1 não é {{ 1 + 1 + getValor()}}</p>
    <p> Eu gosto do curso de angular: {{getCursoAngular() && cursoAngular}}</p>
  </article>
  <article>
    <h3>Property Binding</h3>
    <img src="{{urlImagem}}">
    <!-- diferença de fazer -->
    <img [src]="urlImagem" style ='margin-left: 50px'>
    <!-- formato padrão -->
    <img bind-src="urlImagem" style ='margin-left: 50px'>
  </article>
</section>
